# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# SQLite database
*.db

# Logs
*.log

# CSV and data files
*.csv

# Streamlit cache
.streamlit/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db